In [8]:
import time
from datetime import datetime

from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

import requests

In [9]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False, incognito=False)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [C:\Users\sslomowitz\.wdm\drivers\chromedriver\win32\100.0.4896.60\chromedriver.exe] found in cache

In [10]:
browser.visit("https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")

In [11]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [12]:
for x in range(100):
    try:
        browser.reload()
    except:
        pass

In [13]:
response = requests.get(url)

html = response.text

In [14]:
html = browser.html
soup = BeautifulSoup(html)

news_title = soup.find_all("div", {"class":"content_title"})

news_title2=soup.find_all("div", {"class":"content_title"})[0].text
news_title2

"NASA's Mars 2020 Heads Into the Test Chamber"

In [15]:
news_para = soup.find_all("div", {"class":"article_teaser_body"})

news_para2=soup.find_all("div", {"class":"article_teaser_body"})[0].text
news_para2

'In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.'

In [16]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [17]:
browser.click_link_by_partial_text('FULL IMAGE')

C:\Users\sslomowitz\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:517: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [18]:
html = browser.html
soup = BeautifulSoup(html)

featured_image_url = url + soup.find("img", {"class":"headerimage"})["src"]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [19]:
url ="https://galaxyfacts-mars.com/"

tables = pd.read_html(url)
len(tables)

2

In [20]:
df=tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [21]:
url = "https://marshemispheres.com/"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html)
url

'https://marshemispheres.com/'

In [22]:
information = soup.find_all("div", {"class": "item"})
len(information)

4

In [23]:
list10 = []

for x in information:
   
    link = x.find("div", {"class", "description"}).find("a")
    url2 = url + link["href"]
    title = link.text.strip().strip("Enhanced").strip()
    
   
    browser.visit(url2)
    html2 = browser.html
    soup2 = BeautifulSoup(html2)
    information_url = url + soup2.find("img", {"class": "wide-image"})["src"]
    
    data = {"title": title, "img_url": url2}
    list10.append(data)
list10

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/cerberus.html'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/schiaparelli.html'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/syrtis.html'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/valles.html'}]

In [24]:
data2 = {}
data2["news_paragraph"] = news_para2
data2["news_title"] = news_title2
data2["featured_image_url"] = featured_image_url
data2["mars_facts"] = df.to_html()
data2["hemispheres"] = list10

In [25]:
data2

{'news_paragraph': 'In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.',
 'news_title': "NASA's Mars 2020 Heads Into the Test Chamber",
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars2.jpg',
 'mars_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemispheres': [{'title': 'Cerberus Hemisphere',
   'img_url': 'https://marshemispheres.com/cerberus.html'},
  {'title': 'Schiaparelli Hemisphere',
   'img_url': 'https://marshemispheres.com/schiaparelli.html'},
  {'title': 'Syrtis Major Hemisphere',
   'img_url': 'https://marshemispheres.com/syrtis.html'},
  {'title': 'Valles Marineris Hemisphere',
   'img_url': 'https://marshemispheres.com/valles.html'}]}